body {
    background-image: url(train-station-37.jpg);
    background-size: cover;
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
}


.item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.541);
    color: rgb(255, 255, 255);
    border: transparent;
    border-radius: 34px;
    width: 50%;
    max-width: 600px;
    height: 50%;
    max-height: 600px;
}

.h1 {
    margin-top: 10px;
}

.h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

.button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn,
#save-btn, 
#reset-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: darkred;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 10px;
    width: 10rem;
    height: 3rem;
    transition: 0.1s ease-in-out;
    margin: 10px;
}

#increment-btn:hover {
    transform: scale(1.1);
    filter: brightness(1.3);
    cursor: pointer;
}

#save-btn:hover {
    transform: scale(1.1);
    filter: brightness(1.3);
    cursor: pointer;
}

#reset-btn:hover {
    transform: scale(1.1);
    filter: brightness(1.3);
    cursor: pointer;
}

#increment-btn {
    background: rgb(2, 2, 85);
}

#save-btn {
    background: darkgreen;
}

#save-el {
    font-size: 20px;
}


/* Mobile */
@media only screen and (max-width: 600px) {
    .item-container {
        width: 80%;
        max-width: none;
    }

    .h2 {
        font-size: 30px;
    }

    #save-el {
        font-size: 16px;
    }

    #increment-btn,
    #save-btn,
    #reset-btn {
        width: 80%;
        margin: 5px 0;
        transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
    }
    
    #increment-btn:hover,
    #save-btn:hover,
    #reset-btn:hover {
        transform: scale(1.1);
        filter: brightness(1.3);
        cursor: pointer;
    }

}